img{
  width: 440px;
  
}
h1{
font-size: 480%;
color:#BB8760;


}
p{

  font-size:25px;
  font color:
}
body{
  background-color:#FFEACA;

}
table{
 font-size:50px;
}
title{
  font-size: 50px;
}
hr{
  
       width:8%;
       height:5px;
       border-style:dotted none none;
       border-width: 5px;
       border-color: grey
       }
}
